header{
  width: 100%;
overflow: hidden;
}
.main-nav ul li{
  display: inline;

}
nav{
margin: 0 auto;
}
.main-nav ul li a{
list-style: none;
text-decoration: none;
color:white;
background-color: #828282;
display: block;
float: left;
width: 12vw;
box-sizing: border-box;
margin:1%;
padding: 1%;
text-align: center;
}
.more{
width: 12vw;
background-color: #828282;
position: absolute;
padding: 1%;
color: white;
text-decoration: none;
text-align: center;
}
.logo{
  display: block;
  margin: 0 auto;
  border-radius:50%;
}
body{
  background-image: url('../html/images/bg-body.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'palatino linotype';
  min-width: 100%;
}
.banner{
  margin: 20px auto;
  text-align: center;

}
.banner img{
  width: 100%;
  margin-bottom: -5%
}
.container{
  max-width: 1180px;
  margin: 0 auto;
  overflow: hidden;
}
.vip-products{
overflow: hidden;
}
.product{
  width: 30%;
  float:left;
  margin-right: 5%;
}
.product:nth-child(3n){
  margin-right: 0;
}

footer ul li a{
  color:white;
  text-decoration: none;
  list-style: none;
  width: 10vw;
  border-left: solid 1px white;
float: left;
}
footer ul li{
display: block;
text-align: center;
margin: 0 auto;
}
footer{
  background-color: red;
    overflow: hidden;
    margin-top: 10%;
    padding:6%;
    border-radius: 15px 15px 0 0;

}
.photo{
  width: 100%;
}
.special{
position: absolute;
right:28px;
top:0;
}
.zoom{
  position: absolute;
  top:50%;
  left:0;
  text-decoration: none;
  color: white;
  background-color: rgba(0,0,0,0.5);
  width: 69%;
  padding-left: 30%;
}
.photo-container{
position: relative;
}
article{
  margin-top: 5%;
}
@media only screen and (max-width:420px ) {
  .product{
    width: 100%;
    margin-top: 20%;
  }
  .main-nav ul li a{
list-style: none;
text-decoration: none;
color: white;
background-color: #828282;
display: block;
/* float: left; */
width: 80%;
box-sizing: border-box;
margin: 1%;
padding: 1%;
text-align: center;
}
.banner{
  display:none;
}
.vip-products{
  overflow: auto;
}
.more{
width: 36vw;
}
footer ul li a{
  list-style: none;
  text-decoration: none;
  color: white;
  background-color: red;
  display: block;
  /* float: left; */
  width: 80%;
  box-sizing: border-box;
  margin: 1%;
  padding: 1%;
  text-align: center;
}
footer ul li{

}
footer{
  border-radius: 0px;
background-color: inherit;
width: 100%
 padding:0;
width: 105vw;
margin-left: -34px;
}
}
@media only screen and (min-width: 600px) {
  .product{
    width: 45%;
    float: left;
    margin-right: 5%;
  }
  .product:nth-child(3n){
    margin-right: 5%;
  }
footer{
  border-radius: 0px;
  background-color: inherit;
  width: 100%
   padding:0;
  width: 105vw;
  margin-left: -34px;
  margin-top: 0;
  }

}
footer ul li a{
  list-style: none;
  text-decoration: none;
  color: white;
  background-color: red;
  display: block;
  /* float: left; */
  width: 80%;
  box-sizing: border-box;
  margin: 0.5%;
  padding: 1%;
  text-align: center;
}
.banner{
  margin: 0 auto;
  text-align: center;

}
.banner img{
  width: 96%;
  margin-left: -5%;
  margin-bottom: -4%;
}
}
