header{
  width: 100%;
overflow: hidden;
}
.main-nav ul li{
  display: inline;

}
nav{
margin: 0 auto;
}
.main-nav ul li a{
list-style: none;
text-decoration: none;
color:white;
background-color: #828282;
display: block;
float: left;
width: 12vw;
box-sizing: border-box;
text-align: center;
}
.more{
width: 12vw;
background-color: #828282;
position: absolute;
padding: 1%;
color: white;
text-decoration: none;
text-align: center;
}
.logo{
  display: block;
  margin: 0 auto;
  border-radius:50%;
}
body{
  background-image: url('../html/images/bg-body.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'palatino linotype';

}
.banner{
  margin: 20px auto;
  text-align: center;

}
.banner img{
  width: 100%;
  margin-bottom: -5%
}
.container{
  max-width: 1180px;
  margin: 0 auto;
  overflow: hidden;
}
.vip-products{
overflow: hidden;
}
.product{
  width: 30%;
  float:left;
  margin-right: 5%;
}
.product:nth-child(3n){
  margin-right: 0;
}


.photo{
  width: 100%;
}
.special{
position: absolute;
right:28px;
top:0;
}
.zoom{
  position: absolute;
  top:50%;
  left:0;
  text-decoration: none;
  color: white;
  background-color: rgba(0,0,0,0.5);
  width: 69%;
  padding-left: 30%;
}
.photo-container{
position: relative;
}
article{
  margin-top: 5%;
}
/*MOBILE*/
@media only screen and (max-width:420px ) {
  .product{
    width: 100%;
    margin-top: 20%;
  }
  .main-nav ul li a{
list-style: none;
text-decoration: none;
color: white;
background-color: #828282;
display: block;
box-sizing: border-box;
text-align: center;

}
.banner{
  display:none;
}
.vip-products{
  overflow: auto;
}
.more{
width: 36vw;
}
footer{
width: 100%;
margin-top: 11%;
text-align: center;
}
footer ul li{
  list-style: none;
display: block;
}
footer ul li a{
  text-decoration: none;
  background-color: red;
  color: white;
  display: block;
}
/*TABLET*/
@media only screen and (min-width: 600px) {
  .product{
    width: 45%;
    float: left;
    margin-right: 5%;
  }
  .product:nth-child(3n){
    margin-right: 5%;
  }

.banner{
  margin: 0 auto;
  text-align: center;
}
.banner img{
  width: 96%;
  margin-left: -5%;
  margin-bottom: -4%;
}
}
